<div class="modal fade" id="new-customer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">New Customer</h4>
      </div>
      <div class="modal-body">

        <input class='form-control' id='new_name'></input>

        <div class="modal-footer">
          <div class='btn btn-info btn-custom' id='add_customer'>Add Customer</div>
        </div>

      </div>

    </div>
  </div>
</div>
