<div class="modal fade" id="pay-success" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-center">
        <p><h2>Invoice Successfully Created</h2></p>
      </div>
    </div>
  </div>
</div>
