<div class="col-md-6">

  <div class="panel panel-default">
    <%= form_for Invoice.new do |f| %>
    <div class="panel-heading">Invoice #1
      <%= f.collection_select :customer_id, Customer.all, :id, :name, {:prompt => 'Select Customer...'}, class: "form-control" %>
    </div>

    <div class="panel-body">

      <%= f.submit 'Pay', class: "btn btn-primary" %>

    </div>
    <% end %>
  </div>


</div>




<br>
  <% @invoices.each do |invoice| %>
    <%= invoice.build_invoice_hash %>
  <% end %>
<br>
