<div class='text-center' id='home-back'>
  <%= image_tag('POSable_white.png') %>
  <div>
    <br>
    <div class='col-md-2 col-md-offset-4'>
      <%= button_to 'Demo', invoices_path, class:'btn btn-block btn-item btn-info login_button', method: :get %>
    </div>
    <div class='col-md-2'>
      <%= button_to 'Sign In', signin_path, class:'btn btn-block btn-item btn-info login_button', method: :get %>
    </div>
  </div>

</div>
